# Ignore large datasets but KEEP showcase samples and evaluation graphs
media/cheque_data/
media/digits_dataset/
media/minist/
media/mnist/
media/signature_dataset/
media/uploaded/
media/segmented_regions/

# Specific exceptions: Allow showcase and graphs
!media/samples_showcase/
!media/evaluation/

# Standard stuff
venv/
.venv/
env/
__pycache__/
*.py[cod]
db.sqlite3
staticfiles/
.env
