google-generativeai
django
pillow
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
opencv-python-headless
numpy
joblib
scikit-learn
matplotlib
gunicorn
whitenoise
python-dotenv
